* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif ;
}

.wrapper {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
    
}

.line {
	border-bottom: 1px solid #7f7f82;
	padding: 8px 0;
    width: 100%;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
 
}


.tableMain {
    max-width: 60%;

}


.description {
    font-weight: 400;
    font-size: 0.8rem;
}

input {
    max-width:50px;

}


.tablePrice {
    max-width: 25%;
    height: max-content;
    
    
}


@media (max-width: 780px) {
    .container {
        display: flex;
        flex-direction: column;
       
    }
    .tableMain {
        max-width: 90%;
    
    }
    .tablePrice {
        max-width: 55%;
        
    }

}
